/* 
    Created on : 21-ago-2018, 11:58:07
    Author     : Yeltsin
*/
.margin_panel{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.divider_{
        border: 1px solid #d6d6d6;
        width: 100%;
        margin-bottom:  10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        background: #ffffff;
        font-weight: normal;
        color: #555555;
    }
    
.table_design{
        font-size: 10px;
        padding: 0px;
}
.title_main{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight:bold;
    color: #016dcd;
}

.logo_{
    width: 100%;
    height: 150px;
    background: #016dcd;
    display: flex;
    justify-content: center;
    border-bottom: 10px solid #fa9829;
}
.logo_ img{
    height: 100%;
}
.ui-datepicker .ui-datepicker-header{
    background: #016dcd;
    color: #FFF;
    text-shadow:none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    text-shadow: 1px 1px 1px #016dcd;
}
.ui-widget-content{
    color:#016dcd;
    border: 1px solid #016dcd;
}
.ui-panel-titlebar{
    background: #016dcd;
    color: #FFF;
    border: none; 
    text-shadow:none;
    border-bottom: 5px solid #fa9829;
}

.ui-inputfield{
    border-color: #016dcd;
    text-shadow: none;
    box-shadow: none;
}
.ui-inputfield, .ui-widget-content .ui-inputfield{
    border-color: #016dcd;
    border-width: 1px;
    text-shadow: none;
    box-shadow: none;
}
.ui-inputfield:focus{
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(1,109,205,1);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(1,109,205,1);
    box-shadow: inset 0px 0px 3px 0px rgba(1,109,205,1);
}

.ui-inputgroup .ui-inputgroup-addon{
    background: #016dcd;
    border-color: #016dcd;
    color: #FFF;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    text-shadow:none;
    border-color: #016dcd;
    border-width: 1px;
}
