/* 
    Created on : 21-ago-2018, 11:58:07
    Author     : Yeltsin
*/
.margin_panel{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.divider_{
        border: 1px solid #d6d6d6;
        width: 100%;
        margin-bottom:  10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        background: #ffffff;
        font-weight: normal;
        color: #555555;
    }
    
.table_design{
        font-size: 10px;
        padding: 0px;
}
.title_main{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight:bold;
}

.logo_{
    width: 100%;
    background: red;
    display: flex;
    justify-content: center;
}
