.slidebar {
    height: 100%;
}
.slidebar .logo {
    margin-bottom: 10px;
    border-radius: 3px;
    height: 25%;
}

.main {
    position: relative;
}

.topbar li {
	float: right;
	list-style: none;
}
.topbar li:first-child {float: left;}
.topbar a {
	font-family: 'icomoon';
	display: block;
	line-height: 50px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: rgb(102,102,102);
	border-left: 1px solid rgb(235,235,235);
}
.topbar a:hover {
	background-color: rgb(247,247,247);
}
.topbar li:first-child a {
	border: none;
	border-right: 1px solid rgb(235,235,235);
}
/*mainContent*/
.mainContent{
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
}

.logo {
   width: 100%;
   background: #016dcd;
}
.logo a{
    margin: 0 auto;
    display: flex;
    /*width: 147px;*/
    width: 50%;
    min-width: 100px;
    }
    .logo a img{
        width: 100%;
    }
